// Body
$body-bg: #f8fafc;
$tb-padding: 3em 0 7em 0;
// Typography
// $default-font: Raleway;
$default-font: Helvetica;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-color: #E3242C;
$secondary-color: rgb(255, 255, 255);
$text-heading: #224daa;

$footer-bgcolor: rgb(55, 40, 50);
$black: rgb(0, 0, 0);
