@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300);
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
.head {
  background-color: #E3242C;
  overflow: hidden;
  padding-bottom: 1em;
  font-family: Helvetica;
}

.headPhoto {
  padding: 1.7em 0 0.5em 2.5em;
  max-width: 20%;
  max-height: 8%;
}

.head-info {
  padding-top: 1.5em;
  padding-right: 1.5em;
  float: right;
  color: white;
  font-family: Helvetica;
  text-align: right;
  max-width: 45%;
}

.head-nav {
  font-weight: bold;
  overflow: hidden;
  background-color: #E3242C;
  color: white;
}

.h-nav {
  float: left;
}

.h-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

.h-nav a:hover {
  background-color: white;
  color: #E3242C;
}

.navi {
  font-family: Helvetica;
  font-weight: bolder;
  overflow: hidden;
}

.navi-b {
  background-color: white;
  display: flex;
  align-items: center;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: #E3242C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
}

.nav-li a:hover {
  background-color: #E3242C;
  color: #ffffff;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  position: relative;
  padding-top: 1em;
  padding-left: 1rem;
  padding-bottom: 2em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 31px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #E3242C;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .nav-list,
.nav-menuu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-menu.active {
    display: flex;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 120px;
  z-index: 1000;
}

.dropdown-content a {
  color: #E3242C;
  padding: 12px 16px 12px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background: #E3242C;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: white;
}

@media (max-width: 1000px) {
  .nav-li {
    float: center;
  }
}
.intro {
  overflow: hidden;
}

.assesment {
  position: absolute;
  display: block;
  float: right;
  width: 25%;
  right: 15%;
  margin-top: 12%;
  z-index: 999;
  text-align: center;
  font-family: Helvetica;
  box-shadow: rgba(255, 245, 240, 0.856);
  padding: 0 7px 7px 7px;
  text-align: justify;
  text-justify: inter-word;
}

.as {
  background-color: rgba(255, 255, 255, 0.281);
}

.assesment a {
  text-decoration: none;
  background-color: #E3242C;
  color: white;
}

.ass {
  position: relative;
}

.int-2 {
  position: absolute;
  display: block;
  text-align: justify;
  text-justify: inter-word;
  font-family: Helvetica;
  z-index: 999;
  margin-top: 5%;
  padding: 30px;
}

.service {
  background-color: white;
  overflow: hidden;
  text-align: center;
  padding: 3em 0 7em 0;
  font-family: Helvetica;
}

.serv-title {
  font-style: bolder;
}

.serv-s {
  margin-left: 11%;
}

.serv-box {
  float: left;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 18em;
  height: 18em;
  color: black;
  border-radius: 2%;
  padding-top: 20px;
  justify-items: center;
  margin-top: 3em;
  margin-left: 30px;
}

.serv-box:hover {
  background-color: rgba(255, 245, 240, 0.856);
  transform: scale(1.1);
}

.serv-box-pic {
  max-width: 50%;
}

.serv-title {
  font-weight: bold;
  font-size: 18px;
}

.serv-box-des {
  padding: 0 1em 1em 1em;
}

.text-head {
  color: #E3242C;
  font-weight: bold;
}

.text-link {
  text-decoration: none;
  color: #6574cd;
}

.text-link:hover {
  color: #000000;
}

.text-cent {
  text-align: center;
}

.study {
  padding: 3em 0 7em 0;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  font-family: Helvetica;
  text-align: justify;
  text-justify: inter-word;
  background-color: rgba(250, 250, 250, 0.904);
}

.stu-head li {
  padding-top: 1em;
}

.stu-canvisa-link {
  background-color: #E3242C;
  color: white;
  text-decoration: none;
}

.stu-canvisa-link:hover {
  background-color: white;
  color: #E3242C;
}

.work-border {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: 0.5px solid #E3242C;
  transition: 1s;
}

.work-border:hover {
  transform: scale(1.05);
}

.bus-tab {
  text-align: center;
  width: 100%;
  border: 0.5px solid black;
  border-collapse: collapse;
}

.bus-tab table,
th,
td {
  border: 0.5px solid black;
  padding: 3px 4px 3px 4px;
}

.bus-tab td {
  text-align: left;
}

.imm-tab {
  text-align: center;
  width: 100%;
  border: 0.5px solid black;
  border-collapse: collapse;
}

.fee-box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20em;
  height: 10em;
  text-align: right;
  color: black;
  border-radius: 2%;
  padding-top: 20px;
  justify-items: center;
  margin-top: 3em;
  margin-left: 30px;
}

.fee-box:hover {
  background-color: rgba(226, 222, 220, 0.856);
  transform: scale(1.1);
}

.app-book {
  text-align: center;
  display: flex;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.app-b-box {
  padding: 2em;
  background-color: #ffdfe6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  text-decoration: none;
  transition: 0.8s;
}

.a-pic {
  text-align: center;
}

.app-pic {
  max-width: 30%;
}

.app-b-box:hover {
  transform: scale(1.1);
}

.app-a {
  text-decoration: none;
}

.myPhoto {
  max-width: 25%;
  border-radius: 50%;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

.contact {
  padding: 3em 0 7em 0;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  font-family: Helvetica;
  text-align: center;
  text-justify: inter-word;
}

.footer {
  background-color: #372832;
  overflow: hidden;
  padding: 1em 0 3em 0;
  font-family: Helvetica;
  color: #7a7a7a;
}

.foot-s {
  margin-left: 11%;
}

.foot-box {
  float: left;
  width: 18em;
  justify-items: center;
  margin-left: 30px;
}

.foot-box-title {
  color: #ffffff;
}

.foot-box-des a:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  color: #7a7a7a;
}

.fab {
  padding: 2px;
}

.fab:hover {
  color: #E3242C;
  transform: scale(1.1);
}

.spacer {
  padding-top: 2em;
  padding-bottom: 2em;
}

